body {
  text-align: center;
  color: dimgrey;
  margin: 0;
  font-family: 'Montserrat', serif;
}

a {
  color: #11999E;
  margin: 30px;
}

a:hover {
  color: #EAF6F6;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625em;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat', cursive;
  color: #66BFBF;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', cursive;
}

p {
  font-family: 'Montserrat', cursive;
  color: #40514E;
  line-height: 2;
}

hr {
  width: 4%;
  border: dotted #EAF6F6 10px;
  border-bottom: none;
  margin: 0 auto;
  color: #EAF6F6;
}
.my-goal {
  font-family: 'Merriweather', serif;
  margin-top: 0;
}

.top-container {
  background-color: #e0ebe8;
  margin: 0;
  padding-top: 50px;
  position: relative;
}

.skills {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mountain {
  width: 40%;
}

/* Images Section */
.top-cloud {
  position: relative;
  left: 250px;
  padding-top: 10px;
}

.computer {
  width: 25%;
  margin-right: 30px;
  float: left;
}

.chillies {
  width: 25%;
  margin-left: 30px;
  float: right;
}

.profile-pic {
  width: 30%;
  padding: 16px;
}
/* Images Section */

.my-goal {
  font-weight: normal;
  margin-bottom: 20px;
}

.bottom-cloud {
  position: absolute;
}
.profile {
  width: 50%;
  margin: 50px auto 50px auto;
}

.skill-row {
  width: 50%;
  margin: 80px auto 0 auto;
  text-align: left;
  line-height: 2;
}

.contact-me {
  width: 50%;
  margin: 80px auto 80px auto;
}
.contact-message {
  width: 60%;
  margin: auto;
}

.email {
  padding: 32px 0 32px 0;
}

.profile-body {
  width: 60%;
  margin: auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 32px;
}

.footer-link {
  font-size: 1.35rem;
  font-weight: bold;
  text-decoration: none;
}

.copyright {
  color: white;
  font-size: 1rem;
  padding-top: 30px;
}

.btn {
	background:linear-gradient(to bottom, #7fbdbd 5%, #4ab8b8 100%);
	background-color:#7fbdbd;
	border-radius:10px;
	border:1px solid #66bfbf;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:12px 37px;
	text-decoration:none;
  margin-top: 32px;
}
.btn:hover {
	background:linear-gradient(to bottom, #4ab8b8 5%, #7fbdbd 100%);
	background-color:#4ab8b8;
}
.btn:active {
	position:relative;
	top:1px;
}
